body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
}
#topo{
    display: flex;
    width: 100%;
    height: 5rem;
    justify-content: space-between;
}
#topo nav{ 
    display: flex;
    gap: 50px;
    position: relative;
    top: -0.5rem;
    align-self: center;
    margin-right: 2rem;
    font-size: 2rem;
}
#topo a{
    text-decoration: none;
    color: black; 
    font-size: 2rem;
}

#topo a:hover{
    color: #ff0000;
}

#topo a:active{
 color: chartreuse;
}

.logo{
    width: 8rem;
    height: 8rem;

}
main{
    height: 100%;
    width: 100%; 
}

.conteiner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -1.5rem;
    height: 100%;
}

.login{
  display: flex;
  flex-direction: column;
  margin: 20px;
}

#cadastroForm{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 20px;
    text-align: center;

}

input {
    width: 400px;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
  }

form{
    height: 100px;
}

button{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    cursor: pointer;
    background-color: #ff0000;
    color: white;
    transition: color 0.3s
}

button:hover {
    color: black;
    background-color: #0ce217;
  }

h2{
    font-size: 50px;
    transition: color 0.3s
}
 
h2:hover {
    color: #ff0000;
  }

  #mensagem{
   background-color: white;
   color: #0ce217;
    top: 650px;
    position: absolute;
    font-size: 25px;
  } 